<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Muli&display=swap"
      rel="stylesheet"
    />
    <!-- Styles -->
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/login.css" />
    <!-- Title -->
    <title>404 Not Found</title>
  </head>
  <body>
    <header class="header">
      <img
        class="headerImage"
        src="https://img.icons8.com/plasticine/100/000000/walter-white.png"
      />
      <h2>Breaking Bad</h2>
      <div class="header_menu">
        <img src="https://img.icons8.com/office/40/000000/user-folder.png" />
        <a href="../index.html">Perfil</a>
        <a href="./login.html">Cuenta</a>
        <a href="./notFound.html">Salir</a>
      </div>
    </header>
    <section class="notFound_container">
      <h1>404</h1>
      <h2>Not Found</h2>
    </section>
    <footer class="footer">
      <a href="./notFound.html">Términos de uso</a>
      <a href="./notFound.html">Declaración de privacidad</a>
      <a href="./notFound.html">Centro de ayuda</a>
    </footer>
  </body>
</html>
